 <div class="post-card">
    <div class="pc-name">
        {{pot.name}}
    </div>

    <div class="pc-stats">
        <div class="pcs-stat">
            <i class="eva eva-loader-outline"></i>
            <!-- <span>{{pot.stats.humidity}}</span> -->
        </div>
        <div class="pcs-stat">
            <i class="eva eva-sun-outline"></i>
            <!-- <span>{{pot.stats.sun}}</span> -->
        </div>
        <div class="pcs-stat">
            <i class="eva eva-droplet-outline"></i>
            <!-- <span>{{pot.stats.water}}</span> -->
        </div>
        <div class="pcs-stat">
            <i class="eva eva-thermometer-outline"></i>
            <!-- <span>{{pot.stats.temperature}}</span> -->
        </div>
    </div>
</div>