#login-page {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .lp-title {
        text-align: center;
    }

    .lp-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .lp-submit {

    }

    .lpf-message {
        color: red;
    }
}