<div id="navbar">
    <div class="n-logo">
        <a routerLink="/dashboard" ><div class="logo"></div></a>
    </div>

    <div class="n-items">
        <a routerLink="/dashboard" routerLinkActive="active" class="ni-item"> 
            <div class="item-wrapper">
                <i class="eva eva-keypad"></i>
                <span>Dashboard</span>
            </div>
        </a>
        <a routerLink="/pots" routerLinkActive="active" class="ni-item"> 
            <div class="item-wrapper">
                <i class="eva eva-thermometer"></i>
                <span>Pots</span>
            </div>
        </a>
    </div>

    <div class="n-profile">
        <a class="np-profile" routerLink="/profile" routerLinkActive="active"><div class="profile"></div></a>
    </div>
</div>


