#myPots {
    margin: 40px;
    
    .page-title {
        font-size: 2rem;
        font-weight: 400;
        color: #31394D;
        margin-bottom: 50px;
    }

    .pot-cards-wrapper {
        a {
            text-decoration: none;
            color: #000000;
        }
    }
}