#home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    height: 100vh;
    width: 100%;

    @media screen and (max-width: 640px) {
        flex-direction: column-reverse;
    }

    ls-sidebar {
        
    }

    .aw-content {
        flex: auto;
        height: 100%;
        background-color: #F5F6FA;

        @media screen and (max-width: 640px) {
            height: auto;
            width: 100%;
        }
    }
}