<div id="dashboard">
    <h1 class="page-title">Dashboard</h1>


    <div class="main-diagram">
        <h2>Temperatures</h2>
        <div class="md-diagram-wrapper" *ngIf="temperaturesChartData">
            <canvas baseChart width="400" height="400" [datasets]="temperaturesChartData" [options]="chartOptions"
                [legend]="chartLegend" [chartType]="chartType">
            </canvas>
        </div>
    </div>

    <div class="sub-diagrams">
        <div class="sd-diagram-item">
            <h2>Hygrometry</h2>
            <div class="sddi-diagram-wrapper" *ngIf="hygrometryChartData">
                <canvas baseChart width="400" height="400" [datasets]="hygrometryChartData" [options]="chartOptions"
                    [legend]="chartLegend" [chartType]="chartType">
                </canvas>
            </div>
        </div>

        <div class="sd-diagram-item">
            <h2>Light</h2>
            <div class="sddi-diagram-wrapper" *ngIf="luminosityChartData">
                <canvas baseChart width="400" height="400" [datasets]="luminosityChartData" [options]="chartOptions"
                    [legend]="chartLegend" [chartType]="chartType">
                </canvas>
            </div>
        </div>
    </div>
</div>